#
# Copyright 2014 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /init.qcom-common.rc

on fs
    mount_all ./fstab.qcom
    restorecon_recursive /persist
    setprop ro.crypto.fuse_sdcard true

on init
    # See storage config details at http://source.android.com/tech/storage/
    chmod 0701 /mnt/media_rw
    mkdir /mnt/media_rw/sdcard0 0775 system system
    mkdir /mnt/media_rw/sdcard1 0775 system system
    mkdir /mnt/media_rw/usbdisk 0775 system system

    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/usbdisk 0000 system system

    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk

    # Support legacy paths
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on boot
    # For find7s notification LED
    chown system system /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_red/ramp_step_ms
    chown system system /sys/class/leds/led:rgb_red/duty_pcts
    chown system system /sys/class/leds/led:rgb_red/blink
    chown system system /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_green/ramp_step_ms
    chown system system /sys/class/leds/led:rgb_green/duty_pcts
    chown system system /sys/class/leds/led:rgb_green/blink
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/ramp_step_ms
    chown system system /sys/class/leds/led:rgb_blue/duty_pcts
    chown system system /sys/class/leds/led:rgb_blue/blink

on post-fs-data
    # Torch
    chown system camera /sys/devices/qcom,camera-led-flash.81/test
    chmod 0660 /sys/devices/qcom,camera-led-flash.81/test

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

